<!DOCTYPE html>
<html ng-app="SailsNgApp">
  <head>
    <title>New Sails App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Material Design fonts -->

    <!--STYLES-->
    <!--STYLES END-->

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </head>
  <body ng-view>
  </body>
</html>
