<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">New Feed</h4>
    </div>
    <div class="modal-body">
      <form class="form" ng-submit="ctrl.createFeed($event)" novalidate>
        <div class="form-group">
          <label for="feed_text" class="control-label">New Feed Text</label>
          <textarea class="form-control" id="feed_text" rows="3"
                    placeholder="Hello World!" ng-model="ctrl.feed.text" required>
          </textarea>
        </div>
        <div class="form-group" ng-repeat-start="receiver in ctrl.feed.receivers track by $index">
          <button type="button" class="btn btn-raised btn-default btn-block"
                  ng-click="ctrl.removeReceiverAt($index)">
            Remove Receiver
          </button>
        </div>
        <div class="form-group">
          <label for="feed_receiver_type" class="control-label">Receiver Type</label>
          <select class="form-control" name="feed_receiver_type" ng-model="receiver.type">
            <option value="all">All</option>
            <option value="group">Group</option>
            <option value="label">Label</option>
            <option value="user">Direct message</option>
          </select>
        </div>
        <div class="form-group" ng-repeat-end ng-show="receiver.type && receiver.type != 'all'">
          <label for="feed_receiver_key" class="control-label">Receiver Name</label>
          <select class="form-control" name="feed_receiver_key" id="feed_receiver_key"
                  ng-model="receiver.key" ng-options="r.id as r.key for r in ctrl.sources | filter: receiver.type">
          </select>
        </div>
        <button type="button" class="btn btn-raised btn-default" ng-click="ctrl.addReceiver()">Add Receiver(s)</button>
        <button type="submit" class="btn btn-raised btn-primary pull-right">Create!</button>
      </form>
    </div>
  </div>
</div>
