<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Give a name for new chat</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" ng-submit="ctrl.createChat($event)" novalidate>
        <div class="form-group">
          <label for="newChatName" class="control-label">New Chat Name</label>
          <div class="input-group">
            <input type="text" class="form-control"
                   id="newChatName" placeholder="New Chat"
                   ng-model="ctrl.newChatName" required>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-raised btn-primary">Create!</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
