<!-- home page -->
<script type="text/javascript">
  // surprise from example (out of the box)
  setTimeout(function sunrise () {
    $('.header').css('backgroundColor', '#118798');
  }, 0);
</script>

<div class="default-page" ng-controller="HomeController as ctrl">
  <div class="header">
    <h1 class="container main-title">Welcome</h1>
    <h3 class="container">Sign in to get access to all features</h3>
    <i>A brand new app</i>
  </div>
  <div class="container-fluid home clearfix">
    <div class="container text-center">
      <button type="button" class="btn btn-lg btn-raised btn-primary"
              data-toggle="modal" data-target="#auth_modal">
        Sign In
      </button>
    </div>
    <div class="modal fade" id="auth_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-center">Welcome</h4>
            <br/>
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="#tab_login" aria-controls="tab_login" role="tab"
                  data-toggle="tab" ng-click="$event.preventDefault();">
                  Have account
                </a>
              </li>
              <li role="presentation">
                <a href="#tab_register" aria-controls="tab_register" role="tab"
                  data-toggle="tab" ng-click="$event.preventDefault();">
                  Register
                </a>
              </li>
            </ul>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab_login">
                <form class="form-horizontal" name="ctrl.loginForm" ng-submit="submit($event)" novalidate>
                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                  </div>
                  <div class="alert alert-danger error-block"></div>
                  <input type="submit" class="hidden">
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab_register">
                <form class="form-horizontal" name="ctrl.registerFsorm" ng-submit="submit($event)" novalidate>
                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword" class="col-sm-3 control-label">Confirm password</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                  </div>
                  <div class="alert alert-danger error-block"></div>
                  <input type="submit" class="hidden">
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-raised btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-raised btn-primary" ng-click="submit($event)">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
