<style type="text/css">
body { padding-top: 70px; }
</style>
<div class="container-fluid main">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-click="ctrl.showModal('profile')">
          <img class="avatar pull-left" ng-src="{{ctrl.user.avatar || ctrl.userImage}}" />
          <div class="pull-left">
            <span>{{ctrl.user.firstname}} {{ctrl.user.lastname}}</span>
            <br>
            <span>{{ctrl.user.email}}</span>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">settings</i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Notifications settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="ctrl.showModal('profile')">Profile Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="ctrl.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="modal" tabindex="-1"
       role="dialog" ng-include="ctrl.modalContent">
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-raised btn-primary btn-block" ng-click="ctrl.showModal('createChat')">
        Create new chat
      </button>
      <br/>
      <div class="list-group">
        <div class="text-center text-muted" ng-if="!ctrl.chats.length">
          No chats found<br/>Use button above to create one
        </div>
        <div class="list-group-item btn btn-raised"
            ng-repeat="chat in ctrl.chats track by chat.id"
            ng-click="ctrl.selectChat($event)">
          <div class="row-content">
            <h4 class="list-group-item-text">{{ chat.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="chat">
        <div class="messages">
          <div class="panel panel-default"
               ng-repeat="message in ctrl.chat.messages track by message.id">
            <div class="panel-heading">
              {{ message.username }}
              <span class="pull-right">
                {{ message.createdAt | date:"MM/dd/yyyy 'at' HH:mm" }}
              </span>
            </div>
            <div class="panel-body">{{ message.text }}</div>
          </div>
        </div>
        <div class="message" ng-hide="!ctrl.chat">
          <form class="form" ng-submit="ctrl.sendMessage()" novalidate>
            <div class="form-group label-floating">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="ctrl.message">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-fab btn-fab-mini">
                    <i class="material-icons">send</i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
