<style type="text/css">
body { padding-top: 70px; }
</style>
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
          <li><img class="avatar" ng-src="{{user.avatar}}" /></li>
          <li><span>{{user.firstname}} {{user.lastname}}</span></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="glyphicon glyphicon-cog"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Notifications settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Profile Settings</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#new_chat_modal">
        Create new chat
      </button>
      <br/>
      <ul class="list-group">
        <div class="text-center text-muted" ng-if="!ctrl.chats.length">
          No chats found<br/>Use button above to create one
        </div>
        <li class="list-group-item btn"
            ng-repeat="chat in ctrl.chats track by chat.id"
            ng-click="ctrl.selectChat($event)">
          {{ chat.name }}
        </li>
      </ul>
      <div class="modal fade" id="new_chat_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Give a name for new chat</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" ng-submit="ctrl.createChat($event)" novalidate>
                <div class="form-group">
                  <label for="newChatName" class="sr-only control-label">New Chat Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control"
                           id="newChatName" placeholder="New Chat"
                           ng-model="ctrl.newChatName" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Create!</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="chat">
        <div class="messages">
          <ul>
            <li ng-repeat="message in ctrl.chat.messages track by message.id">
              {{ message.author.email}}: {{ message.text }}
            </li>
          </ul>
        </div>
        <div class="message" ng-hide="!ctrl.chat">
          <form class="form" ng-submit="ctrl.sendMessage()" novalidate>
            <div class="form-group input-group">
              <input type="text" class="form-control" ng-model="ctrl.message">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" value="Send">
                  <i class="glyphicon glyphicon-send"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
